body {
  background-color: #EEEFA8;
  //#FFFCF2;
  //#C7EFCF;
  //#2E3532;
}

h2 {
  color: #ED7B84;
  font-size: 90px;
  text-align: center;
}

p {
font-size: 30px;
}
div {
  font-size: 20px;

}
